h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;
}
.container {
    margin-bottom: 0px;
}

#question {
    height: 100px;
    width: 500px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle ;
    text-align:center;
    background-color: azure;
    border-style: solid;
    border-color: black;
    margin-left: 400px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 50px;
}

#score {
    height: 50px;
    width: 100px;
    background-color: azure;
    border-style: solid;
    border-color: black;
    margin-left: 1320px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -200px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

#timer {
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: azure;
    border-style: solid;
    border-color:red;
    margin-left: 1350px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
}

.categories {
    display: grid;
    grid-gap: 45px;
    row-gap: 0;
    grid-template-rows: auto;
    width: 15%;
    border:black;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: -30px;
}

.category {
    padding: 10px;
    background-color: azure;
    border: black;
    margin-bottom: 20px;
    margin-top: 0px;
    height: 30%;
    transition: 0.3s;
    border-style: solid;
    border-radius: 20px;
}
.category:hover {background-color:lightgray;}

.optionsGrid {
    display: grid;
    grid-gap: 45px;
    row-gap: 0;
    grid-template-columns: repeat(2,1fr);
    width: 40%;
    border:black;
    margin-left: 370px;
    margin-bottom: 10px;
    margin-top: 120px;
}

.options {
    padding: 10px;
    background-color: azure;
    border: black;
    margin-bottom: 250px;
    margin-top: -200px;
    height: 30%;
}
#optionA {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: 0.3s;
}
#optionA:hover {background-color: lightgray;}

#optionB {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: 0.3s;
}
#optionB:hover {background-color: gray;}

#optionC {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: 0.3s;
}
#optionC:hover {background-color: gray;}

#optionD {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: 0.3s;
}
#optionD:hover {background-color: gray;}

body {
   background-color: aqua;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.prevNext {
    display: flex;
    justify-content: space-between;
}


#next {
    height: 50px;
    line-height: 50px;
    width: 80px;
    background-color: azure;
    border-style: solid;
    border-color: black;
    margin-top: -150px;
    margin-bottom: 150px;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}


#answer {

    height: 100px;
    width: 500px;
    background-color: azure;
    border-style: solid;
    border-color: black;
    margin-left: 400px;
    margin-right: 20px;
    margin-top: -180px;
    margin-bottom: -50px;
    font-size: 30px;
    text-align: center;
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

 @keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
 @-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}

 .flash {
     animation: flash 2s linear infinite ;
     background-color: mediumblue;
}

 
   @keyframes flash {
       0% {background-color:brown;}
       25% {background-color:darkviolet;}
       50% {background-color:gold;}
       100% {background-color:turquoise;}
}


